<h1>Editing prototype</h1>

<%= render 'form' %>

<%= link_to 'Show', @prototype %> |
<%= link_to 'Back', prototypes_path %> |
<%= link_to 'Destroy', @prototype, confirm: 'Are you sure?', method: :delete %>

