<h1>Protobid</h2>

<h2>Get it built.</h2>
<h2>Fast.</h2>
<p>What if your business could quickly get the prototypes they need? </br>For the most efficient prices, but with the highest quality! </br>That's our dream here at ProtoBid.</p>

<%= link_to "My Prototypes", prototypes_path %>

