<h1>Welcome to Protobid</h1>
<p>Need a quick and efficient way to get the prototypes you need, in a timely and cost effective manner? Then you've come to the right place!</p>

<%= link_to "My Prototypes", prototypes_path %>
