<% provide(:title, "About Us") %>

<div class="pages">


	<div id="about_main">
		<div id =" about_header">
			</br>
			<p>
				What if your business could quickly get the prototypes they need?</br>
				For the most efficient prices, but with the highest quality! </br>
				That's our dream here at
				<span style="color:rgb(197, 108, 0)">
					ProtoBid.
				</span>
			</p>
			<p style="padding-bottom:14px">
				Feel free to 
				<a href="mailto:christianlondono91@gmail.com" style="">contact us</a>
				with any questions.
			<p>
				<h2 style="padding-bottom:14px; color:rgb(18, 56, 112)">Management Team<h2>
		</div>

		 <div id= "about_team">
			<div class="about_profile">
				<div class="profile_img">
					<%= image_tag("Kelly.jpg", :height => '150', :width => '150')%>
				</div>
				<div class="profile_txt">
					<h3 style="color:rgb(18, 56, 112)">Christopher Kelly</h3>
					<p> Chris Kelly is a junior at MIT in Mechanical engineering with a concentration in robotics and product design. He has had coursework in design and real job experience in prototyping for manufacturing. Through past experience, he has already gained familiarity with prototyping companies such as FirstCut and Solid Concepts</p>
				</div>
			</div>

		</div>
	
	</div>
</div>