<% provide(:title, "Home") %>
</br>

<div class="pages">
	<% if user_signed_in? %>
	<script>console.log(current_user.email);</script>
		<h2>
			Welcome, <%= yield current_user.email %>
		</h2>
		<%= link_to "My Prototypes", prototypes_path %>
	<% else%>
		<p>
			Welcome! Please sign in to explore Protobid :)
		</p>
	<%end %>
</div>