/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
#header_bar{
	background-color: rgb(18, 56, 112);
	color:#fff;
	padding-left: 125px;
}
#login{
	display:inline-block;
	margin: 0px auto;
	float: right;

}

.nav-holder{

}
#main_nav{
	margin-left: 40%;
}

ul{
list-style-type:none;
margin:0;
padding:0;
display:inline;
}
li{
	display:inline;
	float:left;
}
.nav_item{
	display:block;
	width:120px;
}

a{
	text-decoration: none;
	color:white;
}
a:link{
	color:white;
}
a:visited{
	color:white;
}
a:hover{
	background-color: black
}