.pages{
	height:864px;
	float:left;
	margin:0px;
	padding:0px;
	color:white;
	width:1018px;
}

#about_side{
	width:269px;
	height:864px;
	float:left;
	background-color: red;
}

#about_main{
	float:left;
	padding-left: 20px;
	display:block;
}

#about_header{
	float:left;
	display:block;
}

#about_team{
	float:left;
	display:inline;
}

#about_footer{
	background-color: white;
	width:1018px;
	float:left;
}

.about_profile{
	float:left;
	width:700px;
	display:inline;
}

.profile_img{
	padding-top: 3px;
	padding-bottom:10px;
	width:180px;
	float:left;
}

.profile_txt{
	width:520px;
	float:left;
}